<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace of Ideas</title>
</head>
<body>
    <a href="/ideas/new">Add a New Idea</a>
    <h1>The Marketplace of Ideas</h1>
    <ul>
        <% ideas.forEach(function(idea){ %>
            <li>
                <a href="/ideas/<%=idea.id%>">
                    <%=idea.title%>
                </a>
            </li>
        <%});%>
    </ul>
</body>
</html>