<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>New Idea</title>
</head>
<body>
    <nav class="topNav">
        <a href="/ideas">Back to Ideas Index</a>
    </nav>
    <h1>New Idea Page</h1>
    <form action="/ideas" method="POST" class="newIdea">
        <label for="title">Title</label>
        <input type="text" name="title" id="title"/>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <label for="image">Image URL</label>
        <input type="text" name="image" id="image"/>
        <div class="numContainer">
            <div>
                <label for="price">Price</label>
                <input type="number" name="price" id="price"/>
            </div>
            <div>
                <label for="qty">Quantity</label>
                <input type="number" name="qty" id="qty"/>
            </div>
        </div>
        
        <input type="submit" value="Submit New Idea" />
    </form>
</body>
</html>