<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Idea</title>
</head>
<body>
    <nav>
        <a href="/ideas">Back to Main Ideas Page</a>
    </nav>
    <h1>New Idea Page</h1>
    <form action="/ideas" method="POST">
        <textarea name="description" rows="4" cols="50">This is where you describe your idea. As briefly as possible.</textarea><br/>
        Image: <input type="text" name="image" placeholder="Enter URL where image can be found"/><br/>
        Price: <input type="number" name="price"/><br/>
        Quantity: <input type="number" name="qty"/><br/>
        <input type="submit" value="Add Idea" />
    </form>
</body>
</html>